@font-face {
    font-family: 'FavFont';
    src: url('/FavFont.ttf') format('truetype');
}
@keyframes blink {
	0% { opacity:1 } 75% { opacity:1 } 76% { opacity:0 } 100% { opacity:0 }
}

blink, .blink-css {
	animation:blink 0.75s ease-in infinite alternate!important;
}
body {
	background-color: rgb(30, 30, 46);
	color: rgb(204,214,244);
}
#ansible {
    font-family: "FavFont", monospace !important;
    font-size: 20px;
	margin-top: 2vh;
    padding: 0px;
	position: flex;
	justify-content: center;
	align-items: center;
}

